
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>The Team</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://kit.fontawesome.com/e9ecdaabc8.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 jumbotron mb-3 team-heading bg-success">
                    <h1 class="text-center text-white">The Team</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="row team-area col-12 d-flex justify-content-center">
                    
    <div class="card employee-card">
      <div class="card-header bg-primary text-white">
          <h2 class="card-title">Humpty</h2>
          <h3 class="card-title">
          <i class="fa fa-address-book" aria-hidden="true"></i>Manager</h3>
      </div>
      <div class="card-body">
          <ul class="list-group">
              <li class="list-group-item">ID: 1</li>
              <li class="list-group-item">Email: <a href="mailto:Humpty@name.com">Humpty@name.com</a></li>
              <li class="list-group-item">Office Number: 4</li>
          </ul>
      </div>
  </div>
    
    <div class="card employee-card">
      <div class="card-header bg-primary text-white">
          <h2 class="card-title">Bilbo</h2>
          <h3 class="card-title"><i class="fa fa-address-book-o" aria-hidden="true"></i>Engineer</h3>
      </div>
      <div class="card-body">
          <ul class="list-group">
              <li class="list-group-item">ID: 2</li>
              <li class="list-group-item">Email: <a href="mailto:Bilbo@name.com">Bilbo@name.com</a></li>
              <li class="list-group-item">GitHub: <a href="https://github.com/BilboSwagginz" target="_blank" rel="noopener noreferrer">BilboSwagginz</a></li>
          </ul>
      </div>
  </div>
    
    <div class="card employee-card">
      <div class="card-header bg-info text-white">
          <h2 class="card-title">Nemo</h2>
          <h3 class="card-title"><i class="fa fa-address-card" aria-hidden="true"></i>Intern</h3>
      </div>
      <div class="card-body">
          <ul class="list-group">
              <li class="list-group-item">ID: 0</li>
              <li class="list-group-item">Email: <a href="mailto:nemo@nobucks.com">nemo@nobucks.com</a></li>
              <li class="list-group-item">School: Filiasnore</li>
          </ul>
      </div>
  </div>
    
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
    </html>
    